.grid-container {
    display: grid;
    width: 400px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    border: solid rgba(red, 0, blue, alpha)
}
.grid-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}
#displayUp {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: end;
}
#displayDown {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: end;
}
#convert {
    grid-column-start: 3;
    grid-column-end: 5;
}
button:hover{
    cursor: pointer;
    background-color: #751818;
    border: 1px solid #ccc;
    color: #ccc;
}

