.grid-container {
    display: grid;
    width: 600px;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    border: solid rgba(red, 0, blue, alpha)
}
.grid-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}
#displayWords {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: end;
}
#inputNumber {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: end;
}
#convert {
    grid-column-start: 1;
    grid-column-end: 7;
}
button:hover{
    cursor: pointer;
    background-color: #751818;
    border: 1px solid #ccc;
    color: #ccc;
}

