<section>
    <button (click)="toggleCreateForm()">Create New Task</button>
    <button (click)="clearAllTasks()">Clear All Tasks</button>

    @if (showCreateForm() && newTask() !== null) {
    <p>CreateTaskComponent is rendered</p>
    <app-create-task [newTask]="newTask()!" (createdTask)="handleTaskCreated($event)">
    </app-create-task>
    }

    @for (task of tasks(); track task.id){
    <app-task-item [taskItem]="task" (toggleComplete)="toggleTaskCompletion($event)"></app-task-item>
    }

    <div class="task-stats">
        <p>
            Tasks Completed: {{ getTaskStats().completed }}<br />
            Tasks Pending: {{ getTaskStats().pending }}
        </p>
    </div>
</section>