.app {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}

main {
  padding-top: 80px;
  width: 100%;
}

h4 {
  position: fixed;           
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 9999;             
  background-color: rgba(0, 0, 0, 0.7); 
  color: white;
  padding: 1rem 1rem;
  border-radius: 8px;
  font-size: 1.2rem;
  text-align: center;
}

.promo {
    align-items: center;
    margin-bottom: 20px;
}

.promo h1,
.promo p {
    text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #333;
}

.product-grid {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
