.form-card {
    width: 600px;
    margin: 40px auto;
    padding: 24px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;
}

.form-card label {
    display: block;
    font-weight: 500;
    color: #333;
    font-family: 'Segoe UI', sans-serif;
}

.form-card input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: border 0.2s ease-in-out;
    margin-bottom: 16px;
    font-family: 'Segoe UI', sans-serif;
}

.description {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: border 0.2s ease-in-out;
    margin-bottom: 16px;
    height: 180px;
    font-family: 'Segoe UI', sans-serif;
}

.description:focus {
    border-color: #38393b;
    outline: none;
}

.form-card input[type="text"]:focus {
    border-color: #38393b;
    outline: none;
}

.form-card button {
    margin-right: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-family: 'Segoe UI', sans-serif;
}

.form-card button:hover {
    background-color: #c1c6d2;
}