<form class="form-card" [formGroup]="myForm" (ngSubmit)="onHandleSubmit()">
    <h2>Create Todo</h2>
    <label>
        Title:
        <input type="text" formControlName="title" class="title" placeholder="Enter title" />
    </label>
    <span *ngIf="getErrorMessage('title', 'required')">
        {{ getErrorMessage('title', 'required') }}
    </span>
    <span *ngIf="getErrorMessage('title', 'minlength', 3)">
        {{ getErrorMessage('title', 'minlength', 3) }}
    </span>
    <span *ngIf="getErrorMessage('title', 'maxlength', 50)">
        {{ getErrorMessage('title', 'maxlength', 50) }}
    </span>

    <label>
        Description:
        <textarea formControlName="description" class="description" placeholder="Enter description"></textarea>
    </label>
    <span *ngIf="getErrorMessage('description', 'required')">
        {{ getErrorMessage('description', 'required') }}
    </span>
    <span *ngIf="getErrorMessage('description', 'minlength', 10)">
        {{ getErrorMessage('description', 'minlength', 10) }}
    </span>

    <label>
        Status:
        <select formControlName="status">
            <option *ngFor="let option of todoStatusOptions" [value]="option.value">
                {{ option.key }}
            </option>
        </select>
    </label>
    <span *ngIf="getErrorMessage('status', 'required')">
        {{ getErrorMessage('status', 'required') }}
    </span>

    <button type="submit" [disabled]="myForm.invalid || isCreating" [ngClass]="{ 'creating-text': isCreating }">
        {{ isCreating ? 'Creating...' : 'Create' }}
    </button>
    <button type="button" (click)="onCancel()">Cancel</button>

</form>