<form class="form-card" [formGroup]="myForm" (ngSubmit)="onHandleSubmit()">
    <input class="title" type="text" name="title" id="" placeholder="Enter title" formControlName="title" />
    <br>

    @if(getErrorMessage('title', 'required')){
    <span>
        {{ getErrorMessage("title", "required") }}
    </span>
    } @if(getErrorMessage('title', 'minlength', 3)){
    <span>
        {{ getErrorMessage("title", "minlength", 3) }}
    </span>
    } @if(getErrorMessage('title', 'maxlength', 50)){
    <span>
        {{ getErrorMessage("title", "maxlength", 50) }}
    </span>
    }
    <br>
    <textarea class="description" name="description" id="" placeholder="Enter description"
        formControlName="description"></textarea>
    <br>
    @if(getErrorMessage('description', 'required')){
    <span>
        {{ getErrorMessage("description", "required") }}
    </span>
    } @if(getErrorMessage('description', 'minlength', 10)){
    <span>
        {{ getErrorMessage("description", "minlength", 10) }}
    </span>
    }
    <br>
    <select name="status" formControlName="status">
        <option value="" disabled>Select a status</option>
        <option *ngFor="let option of todoStatusOptions" [value]="option.value">
            {{ option.value }}
        </option>
    </select>
    <br>
    @if (getErrorMessage('status', 'required')) {
    <span>{{ getErrorMessage('status', 'required') }}</span>
    }

    <br>

    <button [disabled]="myForm.invalid">Submit</button>
</form>